h1{
    font-family: Bagel Fat One, BagelFatOne-Regular, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 2em;
    color: rgb(230, 86, 103);
};

h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 20px;;
    color:rgb(230, 86, 103);
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 17px;;
    color:  rgb(55, 147, 188);
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 15px;;
    color: black;
}

body{background-color: rgb(255, 195, 71)}

nav{
    grid-area: nav;
    position: top;
    top:0;
    width:100%;
    list-style-type: none;
    display: inline;
    color:rgb(55, 147, 188);
    border: 1px solid white;
    text-align:center;
    background-color: rgb(55, 147, 188);
    padding:0;
    margin:0;
}

li{float:left;}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a {
    display: block; 
/*    background-color: rgb(55, 147, 188);*/
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
    

#FPBanner{grid-area: banner;
    text-align: center;
    padding:5%;
    margin:10px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite
  }
  
  @keyframes example {
    0%   {background-color:rgb(255, 195, 71);}
    100% {background-color:rgb(55, 147, 188);}
  }
  

#column1{grid-area: column1;
    border: 2px solid rgb(230, 86, 103);
    padding:5%;
    margin:10px;}
#column2{grid-area: column2;
    border: 2px solid rgb(230, 86, 103);
    padding:5%;
    margin:10px;}
#column3{grid-area: column3;
    border: 2px solid rgb(230, 86, 103);
    padding:5%;
    margin:10px;}
#ParkHours{grid-area:low;
    padding:5%;
    margin:10px;}
#Footer{grid-area: footer;
    padding:5%;
    margin:10px;
    background-color: rgb(55, 147, 188);}
.grid-container-index {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-areas:
        'nav nav nav'
        'banner banner banner'
        'column1 column2 column3'
        'low low low'
        'footer footer footer';
    background-color:rgb(255, 195, 71);
  }
